server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
- job_name: cognition_logs
  static_configs:
  - targets:
      - localhost
    labels:
      job: cognition_app
      __path__: /var/log/cognition/*.log
  pipeline_stages:
  - match:
      selector: '{job="cognition_app"}'
      stages:
      - json:
          expressions:
            level: level
            msg: msg
      - labels:
          level:
          msg: